<div  *ngIf="isLoader" style="padding: 11rem;">
<div  class="loadingspinner " >
  <div id="square1"></div>
  <div id="square2"></div>
  <div id="square3"></div>
  <div id="square4"></div>
  <div id="square5"></div>
</div>
</div>

<div class="container-fluid w-100">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <main class="foem-sign">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
<main class="container">
  
</main>