<div class="container" *ngIf="empty == true">
  <img
    class="empty-img"
    src="../../../../../assets/farmers-food-design-image-file.jpg"
    alt=""
  />
</div>
<div class="container">
  <div class="foods__Section " *ngIf="empty == false">
    <div class="foods_container grid">
      <section class="card" *ngFor="let foodsData of foodData">
        <div class="product-image">
          <img
            [src]="'http://localhost:5000/foods-images/' + foodsData.image"
            alt="OFF-white Red Edition"
            draggable="false"
          />
        </div>
        <div class="product-info">
          <h2>{{ foodsData.name }}</h2>
          <p>{{ foodsData.stock }}</p>

          <div class="price">₹ {{ foodsData.price }}</div>
        </div>
        <div class="btn">
          <div class="type-btn">
            <button>Types</button>
          </div>
          <div class="add-btn">
            <button
              (click)="loadEacheFood(foodsData._id)"
              type="button"
              data-toggle="modal"
              data-target=".bd-example-modal-sm-1"
            >
              Add
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="order_section">
    <section class="cart-card">
      <div class="cart-header">
        <h3>Current Order</h3>
        <select class="tables" name="" id="" *ngIf="emptyTables">
          <option [value]="table" *ngFor="let table of tables">
            {{ table.table_Name }}-{{ table.table_No }}
          </option>
        </select>
      </div>
      <div class="empty_img" *ngIf="!cartIsEmpty">
        <img
          src="../../../../../assets/farmers-food-design-image-file.jpg"
          alt=""
        />
      </div>
      <div class="empty_cheaker" *ngIf="cartIsEmpty">
        <div class="cart-info" *ngFor="let items of cartItems" [@showFood]="foodFade">
          <div class="items-img">
            <img
              [src]="'http://localhost:5000/foods-images/' + items.foodImage"
              alt=""
            />
          </div>
          <div class="items-name">{{ items.foodName }}</div>
          <div class="items-type">full</div>
          <div class="items-price">₹{{ items.foodPrice }}</div>
          <button class="item-delete" (click)="removeFromCart(items.foodId)">
            D
          </button>
        </div>
      </div>
    </section>
    <div class="proceed-btn" *ngIf="cartIsEmpty">
      <button
        type="button"
        data-toggle="modal"
        data-target=".bd-example-modal-sm"
      >
        Proseed Order
      </button>
    </div>
  </div>
</div>
<!-- OrderC confirmation  -->

<div
  class="modal fade bd-example-modal-sm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
  #myModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="dialog-cnt">
        <div class="confirmation-head">
          <h4>Confirme the order</h4>
          <hr />
        </div>
        <div class="contirm-cnt">
          <p>Are You Sure to order the food</p>
          <hr />
        </div>
        <div class="action-btn">
          <div class="confirm-btn">
            <button (dblclick)="proceesOrder()">Confirme</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- order confirmation end -->

<div
  class="modal fade bd-example-modal-sm-1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
  #myModal_1
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="dialog-cnt">
        <div class="confirmation-head">
          <div class="cart-info">
            <div class="items-img" *ngIf="food_image">
              <img
                [src]="'http://localhost:5000/foods-images/' + food_image"
                alt=""
              />
            </div>
            <div class="items-name">{{ food_name }}</div>
            <div class="items-type">full</div>
            <div class="items-price">₹ {{ food_price }}</div>
          </div>
          <hr />
        </div>
        <form [formGroup]="orderForm">
          <div class="confirm-cnt">
            <input
              formControlName="note"
              type="text"
              placeholder="Add Note .."
            />
            <hr />

            <label class="choose_Quantity">Table-</label>
           <select class="tables"  formControlName="table" value="TABLES"> 

          <option  class="text-center" selected [value]="table._id" *ngFor="let table of tables">
            {{ table.table_Name }}-{{ table.table_No }}
          </option>
        </select>
            <label class="choose_Quantity">Quantity-</label>
            <select class="tables"  name="" id=""  formControlName="quantity">
              <option value="" selected *ngFor=" let Q of quantityValues" [value]="Q">
                {{Q}}
              </option>
            </select>
          </div>
          <div class="action-btn">
            <div class="confirm-btn">
              <button type="submit" (click)="addTocart(food_id)">
                Confirme
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
