<div class="container" *ngIf="empty==true">
<img  class="empty-img" src="../../../../../assets/farmers-food-design-image-file.jpg" alt="">
</div>

<div class="col-md-8" *ngIf="empty ==false ">
  <!-- <div class="col-md-12"> -->
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <section class="card" *ngFor="let foodsData of foodData">
        <div class="product-image">
          <img
            [src]="'http://localhost:5000/foods-images/' + foodsData.image"
            alt="OFF-white Red Edition"
            draggable="false"
          />
        </div>
        <div class="product-info">
          <h2>{{ foodsData.name }}</h2>
          <div class="price">$999</div>
        </div>
        <div class="btn"></div>
      </section>
    </div>
  </div>
  <!-- </div> -->

  <div class="col-md-4">
    <div class="container">
    </div>
  </div>
</div>
