<button class="btn btn-danger" data-bs-toggle="modal" routerLink="/addStocks">
  add staffs
</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Stock Name</th>
      <th scope="col" class="email">Stock Quantity</th>
      <th scope="col" class="number">Expairy Date</th>
      <th scope="col" class="place">Stocks Status</th>
      <th scope="col" class="role">Expairy Status</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let stocks of stocksData; let i = index">

        <td class="name">{{ i + 1 }}</td>

        <td class="name">{{ stocks.name }}</td>
        <td class="email">{{ stocks.quantity }}.kg</td>
        <td class="number">{{ stocks.expairy_Data | date : "MM-dd-yyyy" }}</td>

        <td *ngIf="stocks.stockStatus === true" style="color: rgb(91, 241, 3)">
          Stock in
        </td>
        <td *ngIf="stocks.stockStatus === false" style="color: red">
          Stock Out
        </td>
        <!-- <td *ngIf="stocks.expairy_Data >=currentDate" style="color: rgb(91, 241, 3);;"> Product Not Expaired </td> -->

        <td *ngIf="stocks.expairy_Data <= currentDate" style="color: red">
          Product Expaired
        </td>
        <td>
          <button class="btn btn-warning"  (click)="editStock(stocks._id)">
            Edit
          </button>
        </td>

    </tr>

  </tbody>
</table>
<!-- <router-outlet></router-outlet> -->

<script>
  $(document).ready(function () {
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").toggleClass("active");
    });
  });
</script>

<div
  class="modal fade"
  id="modalRegisterForm"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content container">
      <div class="modal-header">
        <h4 class="modal-title text-center">Sign up</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>








