<button class="btn btn-danger" data-bs-toggle="modal" routerLink="/addStocks">
  add staffs
</button>
 <!-- <input #carSearch matInput placeholder="Search Car"> -->
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Stock Name</th>
      <th scope="col" class="email">Stock Quantity</th>
      <th scope="col" class="place">Stocks price</th>

      <th scope="col" class="number">Expairy Date</th>
      <th scope="col" class="edot">Edit</th>

    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let stocks of stocksData; let i = index">

        <td class="name">{{ i + 1 }}</td>

        <td class="name">{{ stocks.name }}</td>
        <td class="email">{{ stocks.quantity }}.kg</td>
        <td class="email">₹ {{ stocks.price }}</td>

        <td class="number">{{ stocks.expairy_Data | date : "MM-dd-yyyy" }}</td>

        
        
        <td>
          <button class="btn btn-warning "  (click)="editStock(stocks._id)">
            Edit
          </button>
        </td>

    </tr>
<tr class=" tatal_row" >
    <td  class=" text-end fw-bold">Total:</td>
  <td class=" fw-bold">.kg</td>
  <td class="text-center fw-bold">₹</td>
  <td  class=" text-end fw-bold">Total:</td>
  <td class="text-center fw-bold">.kg</td>
  <td class="text-center fw-bold">₹</td>
  <td></td>
  <td></td>
</tr>
  </tbody>
</table>
<!-- <router-outlet></router-outlet> -->

<script>
  $(document).ready(function () {
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").toggleClass("active");
    });
  });
</script>

<div
  class="modal fade"
  id="modalRegisterForm"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content container">
      <div class="modal-header">
        <h4 class="modal-title text-center">Sign up</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
</div>








