<main class="table">
  <section class="table__header">
    <h3>Counter</h3>
    <div class="input-group">
      <input type="search" placeholder="Search Data..." />
      <!-- <img src="images/search.png" alt=""> -->
    </div>
    <div class="export__file">
      <label
        for="export-file"
        class="export__file-btn"
        title="Export File"
      ></label>
      <input type="checkbox" id="export-file" />
      <!-- <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div> -->
    </div>
  </section>
  <section class="table__body">
    <table>
      <thead>
        <tr>
          <th>Id <span class="icon-arrow">&UpArrow;</span></th>
          <th>Table <span class="icon-arrow">&UpArrow;</span></th>
          <th>Staff <span class="icon-arrow">&UpArrow;</span></th>
          <th>Food Count <span class="icon-arrow">&UpArrow;</span></th>
          <th>Amount <span class="icon-arrow">&UpArrow;</span></th>

          <th>Order Status <span class="icon-arrow">&UpArrow;</span></th>
          <th>Full Details<span class="icon-arrow">&UpArrow;</span></th>
          <th>Payment<span class="icon-arrow">&UpArrow;</span></th>
          <th>Qr Code <span class="icon-arrow">&UpArrow;</span></th>
          <th>Proceed <span class="icon-arrow">&UpArrow;</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>1</td>
          <td>{{ order.tableId.table_Name }}-{{ order.tableId.table_No }}</td>
          <td>{{ order.staffId.username }}</td>
          <td>{{ order.foods.length }}</td>
          <td>
            <strong>{{ order.total_price }} </strong>
          </td>
          <td>
            <p class="status cancelled" *ngIf="order.order_status == 'served'">
              Served
            </p>
            <p class="status delivered" *ngIf="order.order_status == 'pending'">
              Pendding
            </p>
            <p class="status delivered" *ngIf="order.order_status == 'ready'">
              Ready
            </p>
          </td>
          <td><a type="button" (click)="moreView(order._id)"> View</a></td>
          <td>
            <select [value]="paymentType" id="" [(ngModel)]="paymentType">
              <option value="">Upi</option>
              <option value="">Cash</option>
            </select>
          </td>

          <td><a type="button" (click)="generateQr(order._id)"> Q</a></td>
          <td>
            <a
              type="button"
              (click)="ProceedOrder(order._id)"
              *ngIf="order.order_status == 'served'"
            >
              Proceed</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
