<div class="container">
  <div class="foods__Section">
    <div class="Category_section">
      <div class="categories" *ngFor="let category of categories">
        <button (click)="filterFood(category._id)">{{category.name}}</button>
      </div>
    </div>
    <div class="foods_container grid" *ngIf="foodsData$ as foods">
      <section class="card" *ngFor="let foodsData of foods">
        <div class="product-image">
          <img
            [src]="'http://localhost:5000/foods-images/' + foodsData.image"
            alt="OFF-white Red Edition"
            draggable="false"
          />
        </div>
        <div class="product-info">
          <h2>{{ foodsData.name }}</h2>
          <p>{{ foodsData.stock }}</p>

          <div class="price">₹ {{ foodsData.price }}</div>
        </div>
        <div class="btn">
          <div class="type-btn">
            <button (click)="updateStock(foodsData._id, 1)">+</button>
          </div>
          <div class="add-btn">
            <button (click)="updateStock(foodsData._id, 0)" type="button">
              -
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
