/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --dark-color-lighten: #f2f5ff;
  --red-card: #a62121;
  --blue-card: #4bb7e6;
  --btn: #141414;
  --btn-hover: #3a3a3a;
  --text: #fbf7f7;
  --main-color: rgb(255, 149, 0);
}

button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  color: var(--text);
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
  user-select: none;
}

/*===== CARD =====*/
.container {
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.grid {
  display: grid;
}
.foods__Section {
  width: 100%;
  margin-top: 2rem;
}
.foods_container {
  display: grid;
  /* grid-template-columns:repeat(5,200px); */
  row-gap: 20px;
  transition: 0.5s;
}
.order_section {
  width: 40%;
  display: block;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .container {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .foods_container {
    grid-template-columns: 200px;
  }
  .order_section {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .container {
    justify-content: center;
  }
  .foods_container {
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
}
@media screen and (max-width: 1264px) {
  .order_section {
    display: none; /* Hide order_section on screens less than 560px */
  }
}

@media screen and (min-width: 560px) {
  .container {
    justify-content: center;
  }
  .foods_container {
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 720px) {
  .container {
    padding: 1rem 0;
    width: 100%;
    gap: 3rem;
  }
  .foods_container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 860px) {
  .container {
    padding: 1rem 0;
    width: 100%;
    gap: 3rem;
  }
  .foods_container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
  }
}
@media screen and (min-width: 960px) {
  .container {
    padding: 1rem 0;
    width: 100%;
    gap: 3rem;
  }
  .foods_container {
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
  }
}
.card {
  position: relative;
  width: 170px;
  height: auto;
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-radius: 0.9rem;
  background-color: var(--red-card);
  color: var(--text);
  cursor: pointer;
}

.card-blue {
  background: var(--blue-card);
}

.product-image {
  margin-top: 2rem;
  height: 100px;
  width: 100%;
  display: flex; /* Add flex display */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  transform: translate(0, -1rem);
  transition: .5s;
  /* transition: transform 0.6s ease-in-out; */
  /* filter: drop-shadow(5px 10px 15px rgba(165, 165, 165, 0.873)); */
}

.product-image img {
  border-radius: 15rem;
  position: relative;
  height: 100px;
  width: 100px;
  /* Optionally, if you want to center the image within its container */
  display: block;
  margin: auto;
}
.product-info {
  text-align: center;
}

.card:hover .product-image {
  transform: translateY(-5px);

  /* filter: drop-shadow(5px 10px 15px rgba(245, 90, 12, 0.796)); */
}

.product-info h2 {
  font-size: 20px;
  font-weight: 600;
}
.product-info p {
  margin: 0.4rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.price {
  padding: 2px;
  font-size: 1rem;
  font-weight: 600;
  color: orange;
}
.btn {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-top: 0.4rem;
}
.buy-btn {
  background-color: var(--btn);
  padding: 0.3rem 2.5rem;
  font-weight: 600;
  font-size: 1rem;
  transition: 300ms ease;
}
.buy-btn:hover {
  background-color: var(--btn-hover);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}
.type-btn,
.add-btn {
  height: 100%;
  width: 100%;
}
.type-btn button {
  background-color: rgb(255, 149, 0);
  height: 32px;
  width: 4.5rem;
  border-radius: 10px 1px 10px 1px;
  transition: 0.2s;
}
.add-btn button {
  background-color: rgb(247, 4, 4);
  height: 32px;
  width: 4.5rem;
  border-radius: 10px 1px 10px 1px;
  transition: 0.2s;
}
.type-btn button:hover {
  background-color: rgb(222, 133, 9);
  height: 32px;
  width: 4.5rem;
  border-radius: 1px 10px 1px 10px;
  transform: rotate(-10deg);

  /* transform: scale(2);   */
}
.add-btn button:hover {
  background-color: rgb(191, 8, 8);
  height: 32px;
  width: 4.5rem;
  border-radius: 1px 10px 1px 10px;
  transform: rotate(10deg);
}

.Category_section {
  max-width: 600px;
  width: auto;
  height: 60px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0rem 1.5rem;
}
.categories {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-radius: 5px;
  transition: 0.5s;
  margin-left: 5px;
}
.categories:hover {
  transform: translateY(-5px);
}
.categories button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
