<!-- <div class="col-md-8"> -->
<div class="container">

<article class="col-md-10 " *ngIf="foodsData$ | async as foods">
  <!-- Modern - Bootstrap Cards -->

  <div class="cards-1 section-white">
    <div class="">
      <div class="row  justify-content-center ">
        <div class="col-lg-3 col-sm-6 col-7 " *ngFor="let foodsData of foods" >
          <div class="card card-blog" >
            <div class="card-image">
              <a href="#">
                <img
                  class="img"
                  [src]="
                    'http://localhost:5000/foods-images/' + foodsData.image
                  "
                />
                <div class="card-caption">{{ foodsData.name }}</div>
              </a>
              <div class="ripple-cont"></div>
            </div>
            <div class="table">
              <h3 class="category text-info">{{ foodsData.name }}</h3>
            </div>
            <div class="table row mx-auto">
              <div class="table">
                <button  style="background-color: red; border-radius: 10px; color: #fff;"
                  class="btn  mx-auto"
                  *ngIf="foodsData.status === true"
                  (click)="listFood(foodsData._id, foodsData.status)"
                >
                  Unlist
                </button>
                <button 
                style="background-color: rgb(33, 183, 3); border-radius: 10px; color: #fff;"
                  class="btn  mx-auto"
                  *ngIf="foodsData.status === false"
                  (click)="listFood(foodsData._id ,foodsData.status)"

                >
                  List
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PLAIN CARDS -->
</article>

<!-- </div> -->
</div>
