
    <div class="container mt-5">
        <h1 class="mb-5">Add Stock</h1>
       <form class="row g-3" [formGroup]="stockData" (submit)="AddStocks()">
        <div class="col-sm-12 col-lg-6">
          <label for="inputEmail4" class="form-label">Stock Name</label>
          <input
            type="text"
            formControlName="stockName"
            class="form-control"
             [ngClass]="{
              'is-invalid': submitted && stockData.controls['stockName'].errors
            }"
          />
            <div
            *ngIf="submitted && stockData.controls['stockName'].errors "
            class="text-danger emailerror "
          >
            <div class="text-center" *ngIf="submitted && stockData.controls['stockName'].errors['required']">
              *Stock namre is required
            </div>
            
          </div>
        </div>
        <div class="col-sm-12 col-lg-6">
          <label for="inputPassword4" class="form-label">Expairy Date</label>
          <input
            type="date"
            formControlName="stockExpairy"
            class="form-control"
             [ngClass]="{
              'is-inval-id': submitted && stockData.controls['stockExpairy'].errors
            }"
          />
           <div
            *ngIf="submitted && stockData.controls['stockExpairy'].errors "
            class="text-danger emailerror "
          >
            <div class="text-center" *ngIf="submitted && stockData.controls['stockExpairy'].errors['required']">
              *expairy Date is requried
            </div>
            
             
          </div>
        </div>
        <div class="col-sm-12 col-lg-5">
          <label for="inputAddress" class="form-label">Stocks Quantity</label>
          <input
            type="number"
            formControlName="stockQuantity"
            class="form-control"
             [ngClass]="{
              'is-invalid': submitted && stockData.controls['stockQuantity'].errors
            }"
          />
          <div
            *ngIf="submitted && stockData.controls['stockQuantity'].errors "
            class="text-danger emailerror "
          >
            <div class="text-center" *ngIf="submitted && stockData.controls['stockQuantity'].errors['required']">
              * Please enter quantity of product
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-12 col-lg-6">
          <label for="inputAddress2" class="form-label">Password </label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && staffData.controls['password'].errors
            }"
          />
          <div
            *ngIf="submitted && staffData.controls['password'].errors "
            class="text-danger emailerror "
          >
            <div class="text-center" *ngIf="submitted && staffData.controls['password'].errors['required']">
              *password is requreid
            </div>
           
             
          </div>
        </div>
        <div class="col-sm-12 col-lg-6">
          <label for="inputAddress2" class="form-label">Phone No: </label>
          <input
            type="number"
            formControlName="employeeNumber"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && staffData.controls['employeeNumber'].errors
            }"
          />
          <div
            *ngIf="submitted && staffData.controls['employeeNumber'].errors "
            class="text-danger emailerror "
          >
            <div class="text-center" *ngIf="submitted && staffData.controls['employeeNumber'].errors['required']">
              *Number is requreid
            </div>
             
          </div>
        </div>
        <div class="col-lg-4">
          <label for="inputCity" class="form-label">Age</label>
          <input
            type="number"
            formControlName="employeeAge"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && staffData.controls['password'].errors
            }"
          />
          <div
            *ngIf="submitted && staffData.controls['email'].errors "
            class="text-danger emailerror "
          >
            <div class="text-center" *ngIf="submitted && staffData.controls['email'].errors['required']">
              *Email is requreid
            </div>
            <div *ngIf="submitted && staffData.controls['email'].errors['email']">
              *Email shoud be proper format
            </div>
             
          </div>
        </div>
        <div class="col-lg-4">
          <label for="inputCity" class="form-label">Date of Birth</label>
          <input
            type="date"
            formControlName="employeeDataOFBirth"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && staffData.controls['password'].errors
            }"
          />
          <div
            *ngIf="submitted && staffData.controls['email'].errors "
            class="text-danger emailerror "
          >
            <div class="text-center" *ngIf="submitted && staffData.controls['email'].errors['required']">
              *Email is requreid
            </div>
            <div *ngIf="submitted && staffData.controls['email'].errors['email']">
              *Email shoud be proper format
            </div>
             
          </div>
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Role</label>
          <select
            id="inputState"
            formControlName="employeeRole"
            class="form-select"
            
            [ngClass]="{
              'is-invalid': submitted && staffData.controls['password'].errors
            }"
          >
            <option value="cheffs">cheff</option>
            <option value="admin">Admin</option>
            <option value="waiters">Waiter</option>
          </select>
          <div
            *ngIf="submitted && staffData.controls['email'].errors "
            class="text-danger emailerror "
          >
            <div class="text-center" *ngIf="submitted && staffData.controls['email'].errors['required']">
              *Email is requreid
            </div>
            <div *ngIf="submitted && staffData.controls['email'].errors['email']">
              *Email shoud be proper format
            </div>
             
          </div>
        </div> -->

        <!-- <div class="col-md-6">
          <label for="inputState" class="form-label"></label>
        </div> -->
        <!-- <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> -->
        <div class="col-8">
          <button
            id="submitBtn"
            type="submit"
            class="btn btn-primary"
          >
            Add Stock
          </button>
        </div>
      </form>
    </div>






    

  
