<div class="sidebar-container">
  <div class="sidebar">
  <div class="sidebar__logo">Turfyo</div>

  <ul class="sidebar__menu">
     <li class="res-header">
      <div class="res-header-content">
       <h1>Turfyo res</h1>
      </div>
    </li>
    <li class="sidebar__item ">
      <div class="sidebar_design">
        <a routerLink="Foods" class="sidebar__link active-link">
          <i class="bx bx-home-alt sidebar__icon"></i>
          <span class="sidebar__name">Foods</span>
        </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a routerLink="staffs" class="sidebar__link">
        <i class="bx bx-user sidebar__icon "></i>
        <span class="sidebar__name">Staffs</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a class="sidebar__link" routerLink="tables">
        <i class="bx bx-book-alt sidebar__icon"></i>
        <span class="sidebar__name">Tables</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a routerLink="Stocks" class="sidebar__link">
        <i class="bx bx-briefcase-alt sidebar__icon"></i>
        <span class="sidebar__name">Stocks</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a href="#contactme" class="sidebar__link">
        <i class="bx bx-message-square-detail sidebar__icon"></i>
        <span class="sidebar__name">Contactme</span>
      </a>
      </div>
    </li>
  </ul>

</div>

</div>