<div class="sidebar-container">
  <div class="sidebar">
  <div class="sidebar__logo">Turfyo</div>

  <ul class="sidebar__menu">
    <li class="sidebar__item">
      <div class="sidebar_design">
        <a routerLink="/viewFoods" class="sidebar__link active-link">
          <i class="bx bx-home-alt sidebar__icon"></i>
          <span class="sidebar__name">Foods</span>
        </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a routerLink="/orders" class="sidebar__link">
        <i class="bx bx-user sidebar__icon "></i>
        <span class="sidebar__name">Orders</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a routerLink="tables" class="sidebar__link">
        <i class="bx bx-book-alt sidebar__icon"></i>
        <span class="sidebar__name">Tables</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a href="#portfolio" class="sidebar__link">
        <i class="bx bx-briefcase-alt sidebar__icon"></i>
        <span class="sidebar__name">Portfolio</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a class="sidebar__link"  type="button" (click)="logoutStaff()">
        <i class="bx bx-message-square-detail sidebar__icon"></i>
        <span class="sidebar__name">Logout</span>
      </a>
      </div>
    </li>
  </ul>

</div>

</div>