<main class="table">
  <section class="table__header">
    <h3>Counter</h3>
    <div class="input-group">
      <input type="search" placeholder="Search Data..." />
      
      <!-- <img src="images/search.png" alt=""> -->
    </div>
     <div class="filter__section">

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" [(ngModel)]="startDate" (ngModelChange)="calculateSales()">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" [(ngModel)]="endDate" (ngModelChange)="calculateSales()">
  </div>

    <div class="export__file">
      <label
        for="export-file"
        class="export__file-btn"
        title="Export File"
      ></label>
      <input type="checkbox" id="export-file" />
      <!-- <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div> -->
    </div>
  </section>
  <section class="table__body">
    <table>
      <thead>
        <tr>
          <th>Id </th>
          <th>Order Id </th>
          <th>Staff </th>
          <th>Ordered Table</th>
          <th>Order Date </th>

          <th>Total Amount </th>
          <th>Payment</th>
          <th>View</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of ListOrders$">
          <td>1</td >

          <td>{{ order.Order_id }}</td>
          <td>{{ order.order_Staff.staff_id.username }}</td>
          <td>
            {{ order.Ordered_table.table_Name }}-{{
              order.Ordered_table.table_No
            }}
          </td>
          <td>
           {{ order.order_date| date:'dd/MM/yyyy'  }}
          </td>

          <td>
            <strong>{{ order.Total_order_Amount }} </strong>
          </td>

          <td>{{ order.payment_method }}</td>
          <td>View</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
