<div class="sidebar-container">
  <div class="sidebar">
  <div class="sidebar__logo">Marlon</div>

  <ul class="sidebar__menu">
    <li class="sidebar__item">
      <div class="sidebar_design">
        <a routerLink="foods" class="sidebar__link active-link">
          <i class="bx bx-home-alt sidebar__icon"></i>
          <span class="sidebar__name">Foods</span>
        </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a routerLink="" class="sidebar__link">
        <i class="bx bx-user sidebar__icon "></i>
        <span class="sidebar__name">Orders</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a routerLink="" class="sidebar__link">
        <i class="bx bx-book-alt sidebar__icon"></i>
        <span class="sidebar__name">Cheffs</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a routerLink="/stocks" class="sidebar__link">
        <i class="bx bx-briefcase-alt sidebar__icon"></i>
        <span class="sidebar__name">Stocks</span>
      </a>
      </div>
    </li>
    <li class="sidebar__item">
      <div class="sidebar_design">

      <a href="#contactme" class="sidebar__link">
        <i class="bx bx-message-square-detail sidebar__icon"></i>
        <span class="sidebar__name">Contactme</span>
      </a>
      </div>
    </li>
  </ul>

</div>

</div>